header{
	background-image: url(../images/1731.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 5%;
}
/*#library ul {
	list-style: none;
}

#library ul p {
	margin-left: 25px;
}

#library h4.open {
	background: url(../images/open.png) no-repeat 0 12px;
	padding: 10px 0 0 25px;
	cursor: pointer;
}

h4.close {
	background: url(../images/close.png) no-repeat 0 12px;
	padding: 10px 0 0 25px;
	cursor: pointer;
}

.removeBook {}*/

/*.tooltip {
	width: 25%;
	padding: 5px;
	background-color: white;
	border: 3px solid blue;
	border-radius: 5px;
	position: fixed;
	z-index: 2;
	top: 20%;
	left: 30%;
}*/
/*.tooltip h2 {
	text-align: center;
	
}

#cross {
	cursor: pointer;
	text-align: right;
		background: url(../images/cross.png) no-repeat 0 12px;
}*/